// Z mixinami takimi, jak kolory raczej zakłada się, że importujemy je jedynie tam, gdzie ich potrzebujemy
// (nie będą się one powtarzały w wygenerowanym kodzie stronki, bo zostaną zamienione na inline-owy CSS)
// Więc sugeruję - fonty zostawić tutaj, ale colors-ów używać tylko w tych plikach, w których ich potrzebujesz
@import "fonts";
@import "colors";


/*html, body - style*/
html,
body {
  font-family: $font-base;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  width: 100%;
}
