.decoration {
  width: 253px; // Unikaj wymiarów podanych "na sztywno", staraj się stylować elementy i pozycjonować je na stronie z użyciem marginesów w ramach np. rodzica
  height: 33px;
  background-image: url("./Decoration.svg");
  margin-top: 24px;
}