.button-xl {
  width: 310px;
  line-height: 1.3;
  padding: 15px 35px;
  margin: 10px auto;
  font-size: 2.25rem;
  border: 0.75px solid $color-dark-grey;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  color: $color-dark-grey;
}